body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
body{font:14px/1.7 microsoft yahei,Cambria,"Hoefler Text","Liberation Serif",Times,"Times New Roman",serif;background:#fff;color:#666;/*overflow-y:scroll;*/}
.clie8,
.cl:after{content:"";visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0;}
a{color:#666;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;text-decoration:none;}
a:hover{color:#000;}
.function:after{ display:block; clear:both; content:''; height:0px;}
.mark{ display:block; height:10px; clear:both;}
.left{ width:250px; float:left; height:100%; position:fixed; top:0px; left:0px; overflow:auto;}
.right{ display:block; margin-left:270px;}
.left dl dt a,
.left dl dd a{ display:block;padding-left:10px; height:30px; line-height:30px;}
.left dl dd a{padding-left:40px;}
.left dl dd a.hover,
.left dl dd a:hover{background:#ededed;}
